<div>
    <div class="form-group">
        <label for="recipe-name">Recipe Name</label>
        <input type="text" class="form-control" id="input-recipe-name" name="recipe_name"
            placeholder="">
    </div>
    
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea type="text" class="form-control" id="input-ingredients" name="ingredients"
            placeholder=""></textarea>
    </div>
    <div class="form-group">
        <label for="directions">Directions</label>
        <textarea type="text" class="form-control" id="input-directions" name="directions"
            placeholder=""></textarea>
    </div>
</div>